# Ignore files and folders
*.json
*.pkl
*.csv
Google_File_Download.py

# EXCEPT allow these:
!.gitignore

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code + system files
.vscode/
.settings/
.DS_Store
Thumbs.db