# Ignore EVERYTHING by default
*
Google_File_Download.py

# EXCEPT allow these:
!.gitignore
!*.py

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code + system files
.vscode/
.settings/
.DS_Store
Thumbs.db